/* NAVBAR*/
  #nav_color {background-color:#272725;} /*oppure grigio #ccccb3;#8bcaf4*/
  .navbar-brand:link {  background-color: transparent;
  text-decoration: none;}
  .navbar-brand:hover {background-color: transparent;
  text-decoration: none;}
  

  #search_button {background-color:#272725;}
  #search_button:hover {background-color: #dadad8;
  border-color:#ccccb3;}
  #search_button {border-color:#ebebe0;}

.title-logo, .text {font-family: 'Abril Fatface', cursive; font-size: 40px;}
div.cover {padding: 0px !important; margin: 0px !important;}
footer {padding: 0px !important; margin: 0px !important;}

/*BREADCRUMBS*/
ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}
ul.breadcrumb li+li:before {
  padding: 2px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}


/*BODY*/
.index_cover {object-fit: fill;}

.h1 {  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}

#museum-text {color: ; padding: 100px 0px 20px 0px;}

/* CAROUSEL Make the image fully responsive */
  div.carousel-item { width: 100%; height: 500px;}
  .carousel-inner img { width: 100%; height: 100%;}

  .text-car {
  color: #f2f2f2;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}


/*MOSTRE*/
#mostre-in-corso {
  position: relative;
}

.text-mostre { font-family: 'Abril Fatface', cursive;
  font-family: 'Exo 2', sans-serif;
  position: absolute;
  font-size: 150%;
  top: 25%;
  left: 30px;
}
.text-mostre-hd {font-size: 60px;}













/*COLLEZIONE SECTION*/
/*testo collezione*/
#collection-text {padding-bottom: 60px;}
b {color: #a96e5b}
  
  .collaps-text {
  color: #caa79b !important;
  background-color: transparent;
  text-decoration: none;}

  .collaps-text:hover {
    
    background-color: transparent;
    text-decoration: underline;
  }
  .collaps-text:active {
    color: #e5d3cd;
    background-color: transparent;
    text-decoration: underline;
  }

#filter-btn { background-color: white;
border-color: #a96e5b;
color: #a96e5b;}
#filter-btn:hover { background-color: #caa79b;
color: white;
border-color: #a96e5b;}


/* FILTRI RICERCA*/
.container {
  display: block;
  position: relative;
  text-align: left;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

    
/*card collezione*/

.card {height:550px ;width: 250px;}
.card-image {height:300px ;width: 250px;}
.btn {float: center;
  background-color: #a96e5b; 
  border-color: #a96e5b;}
.btn:hover {background-color: #caa79b; border-color: #caa79b;}
p.card-text {line-height: 1;}

/*background collezione    background-color: #f0f5f4?*/

div.collezione {padding-top: 30px;
padding-bottom: 30px;}

.img-pubblicita {width:100% ;height:80px ;}

/*pagination*/
.pagination, a.pagination {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  justify-content: center !important;}

div.pagin-container { padding-bottom: 30px;}

.pagination a.active {
  background-color: #caa79b ;
  color: white;}
.pagination a:hover:not(.active) {background-color: #ede2de;}









/*ITEM SECTION*/
.link-author, .link-item {
  color: #caa79b !important;
  background-color: transparent;
  text-decoration: none;}

.link-author:hover, .link-item:hover {
  color: #caa79b !important;
  background-color: transparent;
  text-decoration: underline;
  }

sub:link { background-color: transparent;
  text-decoration: none;}
sub:hover {background-color: transparent;
  text-decoration: underline;
  }

#myImg {cursor: pointer;
  transition: 0.3s;
}
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

  #collap-item {
  color: #1a1a19 !important;
  background-color: transparent;
  text-decoration: none;}

  #collap-item:hover {  
    color: #a96e5b;
    background-color: blueviolet !important;
    text-decoration: underline;}






/*FOOTER*/

iframe {padding-top: 20px;
  float: right;}
footer {background-color: #272725;}

div.intestazione { padding: 30px 0px 0px 80px; float: center;}
div.social_icon {padding-top: 40px; float: center;}

img.icon {width: 40px; height: 40px;}

div.int-logo{padding: 15px 0px 30px; float: center;}
.int-logo {width: 130px; height: 40px;}




